@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    background-color: #F6F8F9;
    font-family: "roboto", sans-serif;
    color: #454952;

}

header {
    background-color: white;
    padding: 10px 0 10px 40px;
    font: normal 900 35px/160% "roboto", sans serif;
    /* If font is specified as a shorthand for several font-related properties, then:
            it must include values for:
            <font-size>
            <font-family>
            it may optionally include values for:
            <font-style>
            <font-variant>
            <font-weight>
            <font-stretch>
            <line-height>
            font-style, font-variant and font-weight must precede font-size.
            font-variant may only specify the values defined in CSS 2.1, that is normal and small-caps.
            font-stretch may only be a single keyword value.
            line-height must immediately follow font-size, preceded by "/", like this: 16px/3.
            font-family must be the last value specified. */

}

.v-align {
    vertical-align: middle;
}

section {
    padding-left: 50px;
    margin: 10px;
    border-bottom: 1px solid #F6F8F9;
}

.btn {
    max-width: fit-content;
    padding: 10px;
    border: 1px solid #F2F3F4;
    border-radius: 40%;
    color: white;
    font-size: 12px;
    font-family: "roboto", sans-serif;
}

.task {
    border-radius: 10%;
}

hr {
    border-color: #F6F8F9;
}

.title {
    color: #454952;
    font: normal 900 20px/160% "roboto", sans serif;

}

.check {
    color: #66C1AA;
    width: 20px;
    height: 20px;
    border-color: #66C1AA;
    border-radius: 50%;
    margin-right: 10px;
}

.uncheck {
    color: rgb(128, 0, 0);
    width: 20px;
    height: 20px;
    border-color: rgb(128, 0, 0);
    border-radius: 50%;
    margin-right: 10px;
}




/* button colors */
.blue {
    background-color: #45ABEA;
}

.grey {
    background-color: white;
    color: #CBD0D5;
}

.purple {
    background-color: #9C72E4;
}

.green {
    background-color: #64C0A9;
}

.orange {
    background-color: #F29E33;
}

.pink {
    background-color: #D862A0;
}

.senape {
    background-color: #B0C926;
}

.container {
    background-color: white;
    border-radius: 10%;
    width: 70%;
    margin: 8vh auto 1vh;

}